<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<div class="top-bar">
  <img src="/assets/logo.png" alt="Logo" class="top-logo">
  <div class="center-button-container">
    <button class="center-button" routerLink="/">Torna alla home</button>
  </div>
</div>

<div class="car-ad-container">
  <!-- Colonna Immagine -->
  <div class="image-section">
    <div class="carousel">
      <img *ngFor="let image of imagesSingleAuto; let i = index"
           [src]="'data:image/png;base64,' + image.base64"
           class="car-image"
           [hidden]="i !== currentImageIndex"
           onerror="this.src='assets/no_images_found.png'">
      <button *ngIf="imagesSingleAuto.length > 1" class="carousel-button prev" (click)="prevImage()">&#10094;</button>
      <button *ngIf="imagesSingleAuto.length > 1" class="carousel-button next" (click)="nextImage()">&#10095;</button>
    </div>
  </div>

  <!-- Colonna Dettagli -->
  <div class="details-section">
    <!-- Titolo e prezzo -->
    <div class="header">
      <h1>
        <span *ngIf="auth.isAdmin()">ID: {{ autoId }} - </span>
        {{ marca }} {{ modello }}
      </h1>
    </div>

    <!-- Specifiche del veicolo -->
    <div class="specs-grid">
      <div class="spec">
        <span>Anno:</span> {{anno}}
      </div>
      <div class="spec">
        <span>Carburante:</span> {{carburante}}
      </div>
      <div class="spec">
        <span>Cambio:</span> {{cambio}}
      </div>
      <div class="spec">
        <span>Chilometraggio:</span> {{chilometraggio}}
      </div>
      <div class="spec">
        <span>Cilindrata:</span> {{cilindrata}} cc
      </div>
      <div class="spec">
        <span>Porte:</span> {{porte}}
      </div>
      <div class="spec">
        <span>Neopatentati:</span> {{neopatentati ? 'Sì' : 'No'}}
      </div>
      <div class="spec">
        <span>Categoria:</span> {{categoria}}
      </div>
    </div>

    <!-- Descrizione -->
    <div class="description">
      <h3>Descrizione</h3>
      <p>{{descrizione}}</p>
    </div>

    <!-- Wishlist e condivisione -->
    <div class="actions">
      <div class="prezzo"> Prezzo: </div>
      <div class="price"> {{ prezzo | number: '1.0-2' }} €</div>
      <button mat-fab *ngIf="auth.isLoggedIn$ | async" (click)="addToWishlist()" title="Aggiungi alla wishlist">
        <i class="fa-solid fa-heart"></i> <!-- Icona cuore di Font Awesome -->
      </button>

      <button mat-fab class="fab-button" (click)="shareAction()" title="Condividi prodotto">
        <i class="fa-solid fa-share-alt"></i> <!-- Icona condivisione di Font Awesome -->
      </button>
      <div class="fab-menu" *ngIf="menuOpen">
        <button class="facebookButton" mat-button (click)="shareTo('facebook')">
          <fa-icon [icon]="faFacebook" style="font-size: 20px;"></fa-icon>
        </button>
        <button class="whatsappButton" mat-button (click)="shareTo('whatsapp')">
          <fa-icon [icon]="faWhatsapp" style="font-size: 20px;"></fa-icon>
        </button>
        <button class="emailButton" mat-button (click)="shareTo('mail')">
          <fa-icon [icon]="faEnvelope" style="font-size: 20px;"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Sezione Auto Correlate -->
<div class="related-cars-section">
  <h2>Auto Correlate:</h2>
  <div class="related-carousel-container">
    <mat-grid-list [cols]="5" gutterSize="25px" rowHeight="370px" class="related-auto-mat">
      <mat-grid-tile *ngFor="let auto of autoCorrelate" class="related-tile">
        <a [href]="'/auto/' + auto.id" style="text-decoration: none; color: black;">
          <mat-card class="related-card">
            <div class="imageContainer">
              <div *ngIf="auto.immagini && auto.immagini.length > 0; else noImage">
                <!-- Mostra solo la prima immagine -->
                <img
                  [src]="'data:image/png;base64,' + auto.immagini[0].base64"
                  class="related-image"
                  onerror="this.src='assets/no_images_found.png'"
                />
              </div>
              <ng-template #noImage>
                <img src="assets/no_images_found.png" class="related-image" />
              </ng-template>
            </div>
            <mat-card-footer>
              <mat-card-subtitle class = "releated_car-name">{{auto.marca}} {{auto.modello}}</mat-card-subtitle>
              <mat-card-subtitle class = "releated_car_price">{{ prezzo | number: '1.0-2' }} €</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<app-footer></app-footer>

