<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
</head>


<div class="moreinfo-container">

  <div class="store map-container" id="leafletMap"></div>

  <div id="footer">
    <ul class="footer-icons-row">
      <li>
        <img class="img" src="../../../assets/iconeFooter/mastercard.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/visa-card.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/warranty.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/support.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/security.png">
      </li>
    </ul>
    <ul class="footer-icons-row">
      <li>
        <img class="img" src="../../../assets/iconeFooter/bank.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/delivery-time.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/shipping.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/open-box.png">
      </li>
      <li>
        <img class="img" src="../../../assets/iconeFooter/map.png">
      </li>
    </ul>
  </div>
  <div class="info-class">
    <p><strong>Orari di lavoro:</strong></p>
    <p><strong>Dal Lunedì al Venerdì:</strong> 09:00 - 12:00  15:00 - 19:00</p>
    <p><strong>Sabato:</strong> 09:00 - 12:00</p>
    <p><strong>Domenica:</strong> chiuso</p>
  </div>
  <div class="contatti">
    <p><strong>Contatti:</strong></p>
    <p>Email: lpc&#64;gmail.com</p>
    <p>Telefono: 0984 873018</p>
  </div>
</div>

